/*UNIVERSAL*/

@font-face {
  font-family: 'futura';
  src: url('../fonts/FuturaStd-Medium.eot?') format('eot'), url('../fonts/FuturaStd-Medium.woff') format('woff'), url('../fonts/FuturaStd-Medium.ttf') format('truetype');
}

html{
  height: 100%;
}

body{
    height: 100%;
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainWrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

#contentWrap{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

p, h1, h3{
  color: #fff;
}

h2{
  color: #5456a1;
  font-family: Arial, sans-serif;
  font-size: 1.8em;
}

h3{
  font-family: Arial, sans-serif;
  font-size: 1.3em !important;
}

/*HEADER*/

header{
  width: 100%;
  margin: 0 auto;
  background-color: black;
  border-bottom: solid 3px #5456a1;
  background: url("../img/headerBackground.png") no-repeat center; 
}

#headerWrap{
  width: 525px;
  height: 277px;
  margin: 0 auto;
  position: relative;
}

#headerWrap img{
  width: 525px;
  margin-top: 40px;
}

#headerText{
  background: url(../img/headertextBackground.png) no-repeat center;
  background-size: cover;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 154px;
  width: 208px;
  position: absolute;
  top: 0;
  right: -285px;
}


/*MAIN CONTENT*/

main{
  margin-top: 40px;
  width: 640px;
  float: left;
}

main p{
  font-size: 1em;
  line-height: 1.4em;
}

iframe{
  z-index: 100;
}

#youtubeContent{
  background-image: url(../img/commentsBackground.png);
  background-size: auto, cover;
  margin: 390px 0 20px 0;
  position: relative;
  padding-bottom: 20px;
}

#youtubeMain{
  float: left;
  clear: right;
  margin-left: 0;
}

#player{
  margin-bottom: 20px;
}

#title h2{
  color: #000;
  font-size: 1.5em;
  margin: 0 0 0 .8em;
  width: 500px;
}

#shareButton{
  position: absolute; 
  top: 40px;
  right: 20px;
  cursor: pointer;
}

#sharePopup{
  position: absolute;
  top: -78px;
  right: -6px;
  display: none;
  background-image: url(../img/shareThisBackground.png);
  height: 116px;
  width: 163px;
  z-index: 500;
}

#sharePopup ul{
  width: 163px;
  margin: -4px 0 0 7px;
  padding: 0;
}

#sharePopup ul li{
  list-style: none;
  margin: 10px;
  float: left;
}

#twitterButton{
  background: url(../img/shareThisIcons.png) 0 3px;
}

#vimeoButton{
  background: url(../img/shareThisIcons.png) 78px 3px;
}

#facebookButton{
  background: url(../img/shareThisIcons.png) 29px 3px;
}

#linkedinButton{
background: url(../img/shareThisIcons.png) 0 28px;
}

#tumblrButton{
  background: url(../img/shareThisIcons.png) 76px 28px;
}

#gplusButton{
  background: url(../img/shareThisIcons.png) 29px 30px;
}

.shareItems{
  height: 30px;
  width: 30px;
}

#description{
  width: 600px;
  margin-top: 40px !important;
  margin: auto;
  color: #000;
  font-size: 1em;
  line-height: 1.4em;
  min-height: 140px;
}

#comments{
  min-height: 65px;
  width: 600px;
  margin-top: 40px !important;
  margin: auto;
  border-top: solid 3px #5456a1;
}

#comments h2{
  width: 600px;
  float: left;
  text-align: left;
  font-size: 1.5em;
  margin: 1em 0 0 0;
  padding: 0;
}

#comments p{
  color: #000;
}

.ui-accordion .ui-accordion-content{
  padding-left: 0 !important;
}

#accordionWrap h2{
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}

/*SIDEBAR*/

#accordionSidebar{
  width: 340px;
  float: right;
  margin-left: 10px;
  min-height: 600px
}

.ui-accordion-content{

}

#accordion{
    min-height: 700px;
}

#accordion img{
  float: left;
  margin: 0 1em 1em 0;  
}

#accordion li{
  color: #fff;
}

#accordion p{
  margin-top: 0;
  font-size: 1em;
  line-height: 1.4em;
}

#accordionWrap{
  margin-top: 2.4em;
  margin-bottom: 2.4em;
}

#accordionWrap h2{
  font-size: 1.4em !important;
}

#accordionWrap h3{
  border-top: solid 3px #5456a1;
  padding-left: 0;
  font-size: 1.2em !important;
}

#accordion div{
  padding-left: 0;
  width: 340px;
  position: relative;
}

.iconOpen {
    background:url(../img/arrowOpen.png) no-repeat !important;
    background-size:20px !important;
    width:20px;
    height:20px;
}
.iconClosed {
    background:url(../img/arrowClosed.png) no-repeat -5px !important;
    background-size:20px !important;
    width:20px;
    height:20px;
}

#accordion a span.title {
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 5px;
}

#accordion a span.ui-icon {
    position: static;   
    height: 20px;
    margin-top: 0px; 
    margin-top: 3px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
  right: .5em !important;
}

#resources.ui-accordion h3, #resources.ui-accordion-header h3{
  padding: 0;
}

.videoThumb{
  position: relative;
}

.thumbPlayOverlay{
  width: 100px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.vid_button img{
    cursor: pointer;
}

#resources{
  background: url(../img/resourcesBackground.png) no-repeat center;
  background-size: auto, cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: auto;
  width: 300px;
  position: absolute;
  bottom: 80px;

  padding: 20px;
}

#resources h3{
  margin: 0 0 .5em 0;
}

#resources ul{
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
}

#resources ul li a{
  text-decoration: none;
  color: #fff
}

#aboutCPR360{
  display: none;
}

#aboutCPR360 p{
  height: auto;
  width: 400px;
  font-family: 'futura';
  margin: 1em 1.4em;
  color: #000;
  font-size: 1em;
  line-height: 1.5em;
}

 /* FOOTER*/

footer, .push{
  height: 60px;
  clear: both;
}

 footer{
  height: 60px;
  left: 0;
  width: 100%;
  margin: auto;
  border-top: solid 3px #5456a1;
  background: url("../img/footerBackground.png") no-repeat center; 
  background-size: 1450px;
  background-color: black;
  position: relative;
}

#copyright, #follow p{
  font-size: .9em;
  font-family: "futura";
}

#copyright{
  margin-top: 20px;
  float: left;
}

#follow{
  margin-top: 20px;
  float: right;
  width: 150px;
  top: 0;
  right: -10px;
  padding: 0;

}

#follow p{
  margin: 0;
  float: left;
}

#follow ul{
  width: 100px;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#follow ul li{
  float: left;
}

#follow ul li a{
  width: 30px;
  height: 30px;
  float: left;
  display: block;
}

#followFacebook{
  background: url(../img/follow.png) -10px 45px;
}

#followTwitter{
  background: url(../img/follow.png) 90px 45px;
}

#followYoutube{
  background: url(../img/follow.png) 45px 45px;
}

#footerWrap{
  width: 1000px;
  height: 60px;
  margin: auto;
  position: relative;
}

