/*UNIVERSAL*/

html{
  height: 100%;
}

body{
    height: 100%;
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainWrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

#contentWrap{
  width: 1000px;
  margin: 0 auto;
}

p, h1, h3{
  color: #fff;
}

h2{
  color: #5456a1;
  font-family: Arial, sans-serif;
  font-size: 1.8em;
}

h3{
  font-family: Arial, sans-serif;
  font-size: 1.3em !important;
}

/*HEADER*/

header{
  width: 100%;
  margin: 0 auto;
  background-color: black;
  border-bottom: solid 3px #5456a1;
  background: url("../img/headerBackground.png") no-repeat center; 
}

#headerWrap{
  width: 525px;
  height: 277px;
  margin: 0 auto;
}

#headerWrap img{
  width: 525px;
  margin-top: 40px;
}

/*MAIN CONTENT*/

main{
  margin-top: 40px;
  width: 640px;
  float: left;
}

#youtubeContent{
  background-image: url(../img/commentsBackground.png);
  background-size: auto, cover;
  margin: 390px 0 20px 0;
  position: relative;
  padding-bottom: 20px;
}

#youtubeMain{
  float: left;
  clear: right;
  margin-left: 0;
}

#player{
  margin-bottom: 20px;
}

#title h2{
  color: #000;
  font-size: 24px;
  line-height: 20px;
  margin-left: 20px;
  width: 500px;
}

#shareButton{
  position: absolute; 
  top: 40px;
  right: 20px;
}

#sharePopup{
  position: absolute;
  top: -78px;
  right: -6px;
  display: none;
  background-image: url(../img/shareThisBackground.png);
  height: 116px;
  width: 163px;
}

#sharePopup ul{
  width: 163px;
  margin: -4px 0 0 7px;
  padding: 0;
}

#sharePopup ul li{
  list-style: none;
  margin: 10px;
  float: left;
}

#twitterButton{
  background: url(../img/shareThisIcons.png) 0 3px;
}

#vimeoButton{
  background: url(../img/shareThisIcons.png) 78px 3px;
}

#facebookButton{
  background: url(../img/shareThisIcons.png) 29px 3px;
}

#linkedinButton{
background: url(../img/shareThisIcons.png) 0 28px;
}

#tumblrButton{
  background: url(../img/shareThisIcons.png) 76px 28px;
}

#gplusButton{
  background: url(../img/shareThisIcons.png) 29px 30px;
}

.shareItems{
  height: 30px;
  width: 30px;
}

#description{
  width: 600px;
  margin-top: 40px !important;
  margin: auto;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  }

#comments{
  width: 600px;
  margin-top: 40px !important;
  margin: auto;
  border-top: solid 3px #5456a1;
}

#comments h2{
  width: 600px;
  float: left;
  text-align: left;
}

#comments p{
  color: #000;
}

#accordionWrap h2{
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}

/*SIDEBAR*/

#accordionSidebar{
  width: 340px;
  float: right;
  margin-left: 10px;
  min-height: 600px
}

.ui-accordion-content{

}

#accordion img{
  float: left;
  margin: 0 1em 1em 0;  
}

#accordionWrap{
  margin-top: 3.5em;
}

#accordion h3{
  border-top: solid 3px #5456a1;
  padding-left: 0;
}

#accordion div{
  padding-left: 0;
  width: 340px;
}

.vid_button img{
    cursor: pointer;
}

#resources{
  background-image: url(../img/resourcesBackground.png);
  background-size: auto, cover;  
  height: 127px;
  width: 326px;
}

 /* FOOTER*/

footer, .push{
  height: 60px;
  clear: both;
}

 footer{
  height: 60px;
  left: 0;
  width: 100%;
  margin: auto;
  border-top: solid 3px #5456a1;
  background: url("../img/footerBackground.png") no-repeat center; 
  background-size: 1450px;
  background-color: black;
}

#footerWrap{
  width: 1000px;
  height: 60px;
  margin: auto;
}

